*:focus {
    outline: none;
}


.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #e0e5ec;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: "Nunito Sans", sans-serif;
}
.header_logo {
  width: 300px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  border-radius: 50%;
  color: gray;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
  cursor: pointer;
  transition: 0.5s;
}

.header__searchIcon:hover {
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  transform: scale(1.1);
}

.header__search input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 30px;
}

.header__search {
  display: flex;

  align-items: center;
  border-radius: 24px;
  background-color: #e0e4eb;
  flex: 1;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  width: 100%;
  border-radius: 24px;
  border: none;
}


.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: center;
}
.header__optionLineOne {
  display: flex;
  padding: 10px;
  border-radius: 35%;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
  cursor: pointer;
  transition: 0.5s;
  color: gray;
}
.header__optionLineOne:hover {
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  transform: scale(1.1);

}
.header__optionBasket {
  display: flex;
  justify-content: center;
  color: gray;
  padding:10px;
  border-radius: 35%;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}
.header__optionBasket:hover {
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  transform: scale(1.1);
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
